<?xml version = "1.0" encoding = "UTF-8"?>


<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">
	
	
	<!-- load properties file  -->
	<context:property-placeholder location="classpath:sport.properties"/>
	<!-- Define your beans here -->

	<!-- define the dependency -->
	<bean class="com.luv2code.springdemo.HappyFortuneService" id="myFortuneService">
	</bean>
	<bean class="com.luv2code.springdemo.TrackCoach" id="myCoach">

		<!-- set up constructor injection -->
		<constructor-arg ref="myFortuneService" />
	</bean>

	<bean id="myCricketCoach" class="com.luv2code.springdemo.CricketCoach">
		<!-- setup Setter injection -->
		<property name="fortuneService" ref="myFortuneService" />
		<!-- injecting literal values -->
		<property name="emailAddress" value="${sam.email}" />
		<property name="team" value="Sun Riser Hyderabad" />
	</bean>
</beans>